/* Overarching design CSS - Main color & font */
html {
  background-color: #F4F0DB;
  font-family: "Red Hat Mono", "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Header logo image container & image */
.header-container {
  width: 100%;
}

.header-container img {
  display: block;
  margin: auto;
  width: auto;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

/* Navbar customizations */
.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #4a4a4a;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  float: left;
  color: #F4F0DB;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  width: 25%;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.navbar a:hover {
  background-color: #929292;
}

.navbar a.active {
  background-color: #929292;
}

/* Main content container */

.main-container {
  margin: auto;
  width: 33%;
  text-align: center;
}

/* Footer customizations */
.footer-container {
  text-align: center;
  padding: 20px 0px 0px;
  background-color: #4a4a4a;
  width: 100%;
}

.footer-container p {
  color: #F4F0DB;
}

/* Note: Figure out how to make this look better later */

/* A Useless Comment! */