html {
  background-color: #F4F0DB;
  font-family: "Red Hat Mono", "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header-container img {
  display: block;
  margin: auto;
  width: 100%; /* Or a specific width */
}

/* Testing CSS stuff */